* {
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    font-family: 'Merriweather', serif;
}

.sidebar {
    background-color: #393E46;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 200px;
    padding-left: 0;
    margin-left: 0;
}

.sidebar ul {
    list-style: none;
    margin-top: auto;
    padding: 90% 2%;
}

.sidebar li {
    padding: 20px;
    transition-duration: 0.5s;
}

.sidebar li:hover {
    padding-right: 0;
    background-color: #F96D00;
}

.sidebar a {
    display: block;
    padding: 8px 10px;
    width: 100%;
    margin: 10px 0;
    text-decoration: none;
    color: #F2F2F2;
}

.content {
    background-color: #F2F2F2;
    margin-left: 200px;
    padding: 2%;
    height: auto;
    color: #F96D00;
}

.content p{
    color: #393E46;
}

.profile {
    float: left;
    max-width: 300px;
    margin: 10px;
    margin-bottom: 30px;
    margin-right: 20px;
}

hr{
    clear: both;
}

.row {
    margin:30px auto;
    width: 100%;
    text-align: left;
    display: inline-block;
    padding-left: 5%;
}

.camera {
    border-radius: 1000px;
    width: 18%;
    float: left;
    margin-right: 30px;
        
}

.cricket {
    border-radius: 1000px;
    width: 18%;
    float: left;
    margin-right: 30px;
    
}

.skills {
    padding-left: 40%;
    height: 100%;
}

.row h2 {
    padding-top: 10%;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #393E46;
    text-align: center;
}

.hobbies {
    background-color: #F2F2F2;
    padding-top: 0.5%;
    margin-left: 200px;
    height: auto;
    color: #F96D00; 
}